.u-block-58c5-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-58c5-3 {
  position: absolute;
  left: 0;
}

.u-block-58c5-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 349px;
  right: calc(((100% - 1140px) / 2)  + -64px);
}

@media (max-width: 1199px) {
  .u-block-58c5-4 {
    right: calc(((100% - 940px) / 2)  + -53px);
  }
}

@media (max-width: 991px) {
  .u-block-58c5-4 {
    right: calc(((100% - 720px) / 2)  + -41px);
  }
}

@media (max-width: 767px) {
  .u-block-58c5-4 {
    right: calc(((100% - 540px) / 2)  + -31px);
  }
}

@media (max-width: 575px) {
  .u-block-58c5-3 {
    width: 39px;
    height: 39px;
  }

  .u-block-58c5-4 {
    right: calc(((100% - 340px) / 2)  + -20px);
  }
}

 .u-section-1-1 {
  background-image: url("images/pexelsphoto3345269.jpeg");
  background-position: 50% 100%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 335px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(to right, #478ac9, #db545a);
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}.u-section-2 .u-sheet-1 {
  min-height: 668px;
}

.u-section-2 .u-product-1 {
  min-height: 548px;
  height: auto;
  margin: 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 27px 30px;
}

.u-section-2 .u-image-1 {
  width: 508px;
  height: 486px;
  margin: 8px auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: -416px 292px 0 auto;
}

.u-section-2 .u-product-price-1 {
  margin: 58px 386px 0 auto;
}

.u-section-2 .u-line-1 {
  width: 69px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 0 auto 0 558px;
}

.u-section-2 .u-text-2 {
  margin: 46px auto 0 558px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  margin: 42px 129px 0 auto;
  padding: 13px 42px 13px 41px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 22px 150px 0 auto;
  padding: 13px 53px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-2 .u-product-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 440px;
    height: 421px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -414px;
    margin-left: 470px;
  }

  .u-section-2 .u-product-price-1 {
    margin-right: 186px;
    margin-left: 470px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 470px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 60px;
    padding-left: 108px;
    padding-right: 108px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 60px;
    padding-right: 120px;
    padding-left: 119px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1199px;
  }

  .u-section-2 .u-image-1 {
    width: 660px;
    height: 632px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
    margin-right: 219px;
    margin-left: 0;
  }

  .u-section-2 .u-product-price-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
    margin-left: 0;
    padding-left: 66px;
    padding-right: 66px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 106px;
    padding-right: 78px;
    padding-left: 77px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 498px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
    margin-right: 173px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 451px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 941px;
  }

  .u-section-2 .u-product-1 {
    min-height: 822px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 306px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 106px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 54px;
  }
}