 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 793px;
}

.u-section-1 .u-image-1 {
  width: 189px;
  height: 189px;
  background-image: url("images/61403b26fb5a2cf701272656c407a60979ce09853eeddfeb40b2ec80467a71b2653dd6388fbc8f5787c958b8f678dd7e75a366112d174d679722da_1280.jpg");
  background-position: 50% 50%;
  margin: 7px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -126px auto 0;
  padding: 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: 84px auto 0;
}

.u-section-1 .u-image-2 {
  width: 87px;
  height: 87px;
  background-image: url("images/4c614affd6da68681ee06c675336a027450e3f80f5af2572a5c50efae7e9ea1ac65d7e58cbb9133000609fb1248051b65979f8bb06522b99f22548_1280.jpg");
  background-position: 50% 50%;
  margin: 68px auto 0 34px;
}

.u-section-1 .u-image-3 {
  width: 87px;
  height: 87px;
  background-image: url("https://pixabay.com/get/gd2cf2d68bd4c614affd6da68681ee06c675336a027450e3f80f5af2572a5c50efae7e9ea1ac65d7e58cbb9133000609fb1248051b65979f8bb06522b99f22548_1280.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0 34px;
}

.u-section-1 .u-image-4 {
  width: 87px;
  height: 87px;
  background-image: url("https://pixabay.com/get/gd2cf2d68bd4c614affd6da68681ee06c675336a027450e3f80f5af2572a5c50efae7e9ea1ac65d7e58cbb9133000609fb1248051b65979f8bb06522b99f22548_1280.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0 34px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 30px 0 60px 34px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}